<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aurora Borealis</title>
  <%- include ./partials/stylesheets %>
  <%- include ./partials/scripts %>
</head>
<body>
  <header>
    <% if(locals.isLoggedIn) { %>
    <% include ./partials/navbar %>
    <% } %>
  </header>
  <main class="container">
    <% for (const type in messages) { %>
      <p class="alert alert-<%= type %>"><%= messages[type] %></p>
      <% } %>
      <%- body %>
    </main>
    <footer><p>Created with &hearts; by Alex
      <a href="https://github.com/alexcviek" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/alex-cwiek-a8b1b9b5/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    </p></footer>
  </body>
  </html>
