<div class="row">
  <div class="col-lg-4 animated slideInLeft">
    <h4>Profile details</h4>

      <div class="profile-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),url(<%= user.imageSRC %>)">
        </div>
      <form class="buttons" method="POST" action="/users/<%= user.id %>">
        <a href="/users/<%= user.id %>/edit" class="edit-account-btn btn btn-primary">Edit Account</a>
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn danger">Delete Account</button>
      </form>
  </div>
  <div class="col-lg-8 animated slideInRight">
    <h4>My places</h4>
      <div class="row">
        <% user.places.forEach((place) => { %>
        <div class="col-md-4 place">
          <p><%= place.name %></p>
          <p>Latitude: <%= place.lat %></p>
          <p>Longitude: <%= place.lng %></p>
          <p class="forecast">Loading the forecast...</p>
          <div class="spinner small">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
          <div class="map small" data-lat="<%= place.lat %>" data-lng="<%= place.lng %>"></div>
          <form method="POST" action="/users/<%= user.id %>/places/<%= place.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn danger">Delete</button>
          </form>
        </div>
      <% }) %>
    </div>
  </div>

</div>
