<h1>show one</h1>

<h1><%= aurora.country %></h1>
<div style="background-image: url(<%= aurora.image %>)">
</div>
<img src="<%= aurora.image %>">

<div class="buttons">
  <a href="/auroras/<%= aurora.id %>/edit"><button class="btn btn-primary">Edit</button>
  <form action="/auroras/<%= aurora.id %>" method="POST"></a>
  <input type="hidden" name="_method" value="DELETE"/>
  <button class="btn btn-danger">Delete</button>
  <div>
