<div class="row">
  <div class="col-lg-6 animated slideInLeft">
    <div class="card image-big" style="background-image: url(<%= aurora.imageSRC %>)">
    </div>
    <div class="row pic-details">
      <div class="col-md-6">
    <div class="map small" data-lat="<%= aurora.lat %>" data-lng="<%= aurora.lng %>">></div>
  </div>
  <div class="col-md-6">
    <p><%= aurora.country %></p>
    <p>Photo by: <%= aurora.createdBy.username %></p>
    <% if(locals.isLoggedIn && aurora.belongsTo(user)) { %>
    <div class="buttons">
    <a href="/auroras/<%= aurora.id %>/edit"><button class="btn btn-primary">Edit</button></a>
      <form action="/auroras/<%= aurora.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE"/>
        <button class="btn danger">Delete</button>
      </form>
      </div>
    <% } %>
  </div>
  </div>
  </div>
  <div class="col-lg-6 animated slideInRight">

  <section>
  <form method="POST" action="/auroras/<%= aurora.id %>/comments">
  <div>
  <textarea class="form-control" name="content" id="content" placeholder="Your comment" rows="3" cols="50" required></textarea>
  </div>
  <button class="btn btn-primary">Leave a comment</button>
  </form>
  </section>

  <section>
  <h4>Comments</h4>
  <% aurora.comments.forEach((comment) => { %>
    <div class="row comment">
      <div class="col-sm-3 user-details">
      <div class="profile-img-small" style="background-image: url(<%= comment.createdBy.imageSRC %>)"></div>
      <small><%= comment.createdBy.username %></small>
      </div>
      <div class="col-sm-9 comment-content">
      <p><%= comment.content %></p>
      <% if(locals.isLoggedIn && comment.belongsTo(user)) { %>
      <form method="POST" action="/auroras/<%= aurora.id %>/comments/<%= comment.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button class="btn delete-comment"><small><i class="fa fa-trash" aria-hidden="true"></i></small></button>
      </form>
    <% } %>
    </div>
    </div>
    <% }) %>

  </section>

  </div>
</div>
